[defaults]

# disable checking host keys when using ssh
# this reduces friction when rapidly creating and destroying environments
host_key_checking=False

# include roles from platform
roles_path = ../ansible

# Vagrant integration
inventory = inventory.yml

# human-readable stdout/stderr results display
stdout_callback = debug

# clean
retry_files_enabled = False
nocows = 1
