
MONGO_DB_NAME = "{{ db_name | default("picoCTF")}}"
MONGO_ADDR = "{{ db_private_ip }}"
MONGO_PORT = "{{ mongodb_conf_port | default(27017)}}"
{% if  mongodb_conf_auth %}
MONGO_USER = "{{ mongodb_web_user | default("picoWeb") }}"
MONGO_PW = "{{ picoWeb_db_password }}"
{% endif %}
{% if mongodb_replica_enabled %}
MONGO_REPLICA_SETTINGS = "replicaSet=rs0"
{% endif %}
{% if mongodb_tls_enabled %}
MONGO_TLS_SETTINGS = "tls=true&tlsCAFile=/etc/ssl/certs/mongodb_tls.pem"
{% endif %}

REDIS_DB_NUMBER = "{{ redis_db_number | default(0) }}"
REDIS_ADDR = "{{ redis_private_ip | default(db_private_ip) }}"
REDIS_PORT = "{{ redis_conf_port | default(6379) }}"
{% if  redis_conf_auth | bool %}
REDIS_PW = "{{ redis_db_password | default(picoWeb_db_password) }}"
{% endif %}

RATE_LIMIT_BYPASS_KEY = "{{ flask_app_rate_limit_bypass_key | default("INSECURE_DEFAULT_CHANGE_ME") }}"
SERVER_NAME = "{{ flask_app_server_name }}"
SECRET_KEY = "{{ flask_app_secret_key | default("INSECURE_DEFAULT_CHANGE_ME") }}"

SESSION_COOKIE_DOMAIN = {{ flask_app_cookie_domain | default("None") }}
SESSION_COOKIE_PATH = "{{ flask_app_cookie_path | default("/") }}"
SESSION_COOKIE_NAME = "{{ flask_app_cookie_name | default("flask") }}"

DOCKER_PUB    = "{{ docker_public_host }}"
DOCKER_HOST   = "{{ docker_internal_host }}"
DOCKER_CA     = "{{ docker_ca }}"
DOCKER_CLIENT = "{{ docker_client }}"
DOCKER_KEY    = "{{ docker_key }}"
DOCKER_TTL    = "{{ docker_ttl }}"
DOCKER_CONTAINERS_PER_TEAM = {{ docker_containers_per_team }}
