---
layout: default
title: Scoreboard
post_scripts:
 - js/progression_graphs.js
 - js/scoreboard.js
 - js/libs/Chart.min.js
 - js/libs/bootstrap-paginator.min.js
startup_functions:
---

<script type="text/template" id="scoreboard-teamscore-template">
  <div class="pull-right">
    <h3>Score: <strong><%= teamscore%></strong></h3>
  </div>
</script>

<script type="text/template" id="scoreboard-tabs-template">
  <ul class="nav nav-tabs" id="scoreboard-tabs">
    <li class="active" data-gid="global"><a data-toggle="tab" href="#global" onClick="window.reloadGraph()">Global</a></li>
    <% if(data.student !== undefined) { %>
    <li data-gid="student"><a data-toggle="tab" href="#student" onClick="window.reloadGraph()">Middle/High School Students</a></li>
    <% } %>
    <% _.each(data.groups, function(group, index) { %>
      <li data-gid="<%= group.gid %>"><a data-toggle="tab" href="#<%= group.gid %>" onClick="window.reloadGraph()"><%- group.name %></a></li>
    <% }); %>
  </ul>
  <div class="tab-content">
   <div class="row">
      <h3 class="text-center">Top 5 Progression</h3>
      <div id="global-progression" class="progression-graph"></div>
    </div>
    <div id="global" class="tab-pane fade in active">
      <%= renderScoreboard({data: data.global, tid: data.tid}) %>
      <% if (data.global.pages > 1) { %>
      <div class="pagination-container">
        <ul id="global-pagination" class="pagination"></ul>
      </div>
      <% } %>
    </div>
    <% if(data.student !== undefined) { %>
      <div class="row">
        <div id="student-progression" class="progression-graph"></div>
      </div>
      <div id="student" class="tab-pane fade">
        <%= renderScoreboard({data: data.student, tid: data.tid}) %>
        <% if (data.student.pages > 1) { %>
        <div class="pagination-container">
          <ul id="student-pagination" class="pagination"></ul>
        </div>
        <% } %>
      </div>
    <% } %>
    <% _.each(data.groups, function(group, index) { %>
      <div class="row">
        <div id="<%= group.gid %>-progression" class="progression-graph"></div>
      </div>
      <div id="<%= group.gid %>" class="tab-pane fade">
        <%= renderScoreboard({data: group, tid: data.tid}) %>
        <% if (group.pages > 1) { %>
        <div class="pagination-container">
          <ul id="<%= group.name %>-pagination" class="pagination"></ul>
        </div>
        <% } %>
      </div>
     <% }); %>
  </div>
</script>

<script type="text/template" id="scoreboard-template">
  <% if(!($.isEmptyObject(data))) { %>
    <table class="table" class="scoreboard-table">
      <thead>
        <tr>
          <th></th>
          <th>User/Team Name</th>
          <th>School/Organization</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
        <% _.each(data.scoreboard, function(team, i) { %>
            <% if(team.tid == tid) { %>
            <tr class="alert alert-success">
            <% } else { %>
            <tr>
            <% } %>
            <td><%= (50*(data.start_page - 1)) + i + 1 %>.</td>
            <td><%- team.name %></td>
            <td><%- team.affiliation %></td>
            <td><strong><%= team.score %></strong></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  <% } else { %>
    <pre>
      <p class="text-center">No teams have scored any points yet.</p>
    </pre>
  <% } %>
</script>

<script type="text/template" id="scorepage-template">
    <% _.each(scorepage, function(team, i) { %>
      <% if(team.tid == tid) { %>
      <tr class="alert alert-success">
      <% } else { %>
      <tr>
      <% } %>
        <td><%= (50*(page - 1)) + i + 1 %>.</td>
        <td><%- team.name %></td>
        <td><%- team.affiliation %></td>
        <td><strong><%= team.score %></strong></td>
      </tr>
    <% }); %>
</script>

<div class="container">
  <div id="scoreboard-teamscore"></div>
  <div id="scoreboard-tabs"></div>
</div>
