# {{ ansible_managed }}

server {
    listen 80;
    server_name _;
    root   /usr/share/nginx/html;

    location /shell {
        proxy_pass http://127.0.0.1:{{ wetty_port }}/shell;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_read_timeout 43200000;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_hide_header X-Frame-Options;
    }

    location / {
        types        { }
        default_type application/octet-stream;
    }
}
