# {{ ansible_managed }}

[Unit]
Description=wetty

[Service]
Type=exec
ExecStart=/bin/bash -c '/usr/bin/node {{ wetty_js_path }}/index.js -p {{ wetty_port }} --base /shell --sshauth keyboard-interactive'
User=wetty
ProtectHome=read-only

[Install]
WantedBy=multi-user.target
